.THIS .clear-background svg {
    fill:black !important;
}
 
.THIS .clear-background {
    background-color: transparent !important;
}

.THIS input {
    font-size: 16px;
}

.THIS label{
    font-family: Graphik;
    font-weight: 600;
    font-size: 14px;
	height: 16px;
	left: 508px;
	right: 595px;
	top: 221px;
}

.THIS .headerClass{
    font-family:Graphik;
    font-size:20px;
    font-weight:600;
}

.THIS .tallInputField{
    height:50px;
    width:100%;
    background: #FFFFFF;
    border-radius:4px;
    border: 1px solid #F1F3F5;
	box-sizing: border-box;
}

.THIS .tallInputField:hover{
    border: 1px solid #B8C2CC;
}

.THIS .tallInputField:active{
    border: 1px solid #050F19;
}

.THIS .tallInputField:disabled{
    background: rgba(17, 51, 85, 0.06);
}

.THIS .tallInputField:invalid{
    border: 1px solid #FFAE24;
}

.THIS .registrationInput{
    margin-bottom: 24px;
    margin-right: 2px;
    margin-left: 2px;
}

.THIS button{
    background: #1652F0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    height: 64px;
    width:100%;
}

.THIS button:hover{
    background: #2897FF;
}

.THIS button:focus{
    background: #0064E6;
}

.THIS button:disabled{
    background: #8DFCFF;
}
.THIS a{
    color: #0E7DFF;
}

.THIS boy {
     width: 90%;
     max-width: 900px;
     margin: 2em auto;
     font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.THIS .container > div {
     border-radius: 5px;
     padding: 10px;
     background-color: rgb(207,232,220);
     border: 2px solid rgb(79,185,227);
}

.THIS .container {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 20px;
     gap: 20px;
}
